*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;

    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    /* --text-color: #22100d; */
    --bg-color: #fff;
    --text-color: #23293f;
    --second-color: #685f78;
    --main-color: #f66962;
    --main-color: #f67162;
    --main-color: #f78869;


    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1. Irem;
}


body{
    background: var(--bg-color);
    color: var(--text-colorl);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 10%;
    transition: all .40s ease;
}

section,footer{
    padding: 80px 7vw;
}


/* header */


.logo img {
    padding-top:6px;
    height: auto;
    width: 120px;
    max-width: 100% ;
    transition: all .30s ease;
}
.logo img:hover {
    transform: scale(1.08) ;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all .30s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.header-icons{
    display: flex;
    align-items: center;
}

.header-icons i{
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px; 
}

.header-icons i:hover{
    transform: scale(1.2);
    color: var(--main-color);
}

#menu-icon{
    font-size: 28px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

header.sticky{
    background:var(--bg-color);
    padding: 12px 10%;
    box-shadow: 0px 4px 15px rgb(0 0 0/8%);
}





/* home section */




.home{
    height: 100vh;
    position: relative;
    text-align: center;
    background-image: url(/Resources/banner.png);
    background-size: cover;
    background-position: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    margin: 15px 0 15px;
}

.home-text h6 {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 48px;
}

.home-img img{
    width: 40vw;
    
}



/* About Section */




.about {
    background-size: cover;
    background-position: center;
}

.about-content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.about-content img{
        height: auto;
        width: 35vw;
        border-radius: 10px;
}

.child-div {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.about-us {
    background-color: #f9f9f9;
    padding: 39px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-us h2 {
    color: var(--second-color);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    animation: slideIn 0.5s forwards;
}

.about-us p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    animation: fadeIn 0.8s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}




















/* footer  */


.contact{
    padding:60px 13%;
    padding-bottom: 0px;
    background: var(--bg-color);
    color: var(--text-color);
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,auto));
    gap:2rem;

}
.contact-content img{
    padding-bottom: 7px;
    height: auto;
    width:130px
}
.contact-content li{
    margin-bottom: 18px;
}
.contact-content li a{
    display: block;
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    transition: all .40s ease;

}
.contact-content li a:hover{
    transform: translateX(10px);
    color: var(--main-color);
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

}
.copyright p{
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}


.footer {
    position: relative;
    text-align: center;
    background-color: white;
}

.waves {
     position: relative;
     width: 100%;
     height: 15vh;
     margin-bottom: -7px;
     min-height: 100px;
     max-height: 150px;
 }
 .waves-about {
     position: relative;
     margin-left: -1vw;
     width: 100%;
     height: 25vh;
     margin-bottom: -7px;
     min-height: 100px;
     max-height: 150px;
 }

/*Wave Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 6s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 11s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 15s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}